@charset "utf-8";
/* CSS Document */

body{
	padding: 0px;
	margin: 0px;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}

/*div này dùng để background-img cho toàn trang*/
.big{
	width: 100%;
	height: 100%;
	background-image: url(../Image/back8.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
}

/*div nằm trong article để dùng background-img */
.inside1{
	width: auto;
	min-height: 620px;
	background-image: url(../Image/back.jpg);
	background-repeat: repeat;
	padding: 2%;
	margin: 0 auto;
}

/*div nằm trong inside1 để viết text lên*/
.inside2{
	background-color: #FFFFFF; 
	width: auto; 
	min-height: 620px;
	opacity: 0.9; /*mờ để thấy nền dưới*/
	padding: 40px; 
	border-radius: 20px; 
	margin:  0 auto;
	text-align: justify;
}

.container{
	max-width: 1280px;
	height: auto;
	margin: 0 auto;	
}


header{
	width: 100%;
	height: 230px;
	background-color: #FF9596;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 30px;
	background-color: #535B58;
	margin-bottom: 5px;
}

nav a{
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	width: 256px;
	height: 30px;
	text-align: center;
	float: left;
	line-height: 30px;
	transition: 0.5s;
}

nav a:hover{
	color: #000000;
	background-color: #c7ad88;
	transition: 0.5s;
}

nav a.active{
	background-color: #ede9ce;
	color: #000000;
}

article {
	width: 70%;
	min-height: 620px;
	background-color: #ede9ce;
	color: #000000;
	float: left;
	margin-bottom: 5px;
}

article img:hover{
	cursor: crosshair;
}

aside{
	width: 29.5%;
	min-height: 620px;
	float: right;
	background-color: #64706C;
	color: #FFFFFF;
	margin-bottom: 5px;
}


aside img {border-radius: 15px;}
aside h2 {
	color: #A2FB7E; 
	background-color: #535B58; 
	height: 40px; 
	margin: 0px; 
	text-align: center; 
	line-height: 40px;}
aside table {
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
} 
aside a {color: #A2E26B}
aside a:hover {color: #408348}
aside td {padding-left: 10px;}

footer{
	width: 100%;
	height: 350px;
	background-color: #64706c;
	color: #000000;
	clear: both;
}


footer .footer_left{
	width: 50%;
	height: 320px;
	float: left;
	color: #FFFFFF;
}

footer .footer_right{
	width: 25%;
	height: 60px;
	float: right;
	margin-top: 20px;
}

footer .footer_bottom{
	width: 100%;
	height: 40px;
	clear: both;
	background-color: #535B58;
}

.footer_info:hover{
	background-color: #535B58;
	color: #A2FB7E;
	padding: 10px;
	transition: 0.3s;
}

ul{
	list-style-type: square;
	padding-top: 5px;
}

ul li{
	font-size: 18px;
	border-bottom: 2px dotted #A2FB7E;
}

footer p{
	text-align: center;
	font-style: italic;
	clear: both;
	color: #A2FB7E;
	padding-top: 10px;
	margin: auto;
}

/*================================================================*/

h3{
	text-align: center;
	color: #F9474A;
}


/*Tạo img cirle*/
.img_cirle{
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}

article img:hover{
	box-shadow: 10px 10px 5px #b3b3b3;	
}

.contact{
	opacity: 0.7;
	transition: 0.2s;
}

.contact:hover{
	opacity: 1;
	transition: 0.2s;
	width: 70px;
	height: 70px;
}

.search{
	width: 100%;
	padding-left: 38px;	
}

aside input{	
	width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

	margin: 7px 0px 7px 0px;
	padding-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #ede9ce;
}

aside input:focus{
	background-color: white;
	transition: 0.5s;
}

aside tr:hover{
	background-color: #535B58;
	transition: 0.5s;
}