@charset "utf-8";
/* CSS Document */

/*div này dùng để background-img cho toàn trang*/
.big{
	width: 100%;
	height: 100%;
	background-image: url(../Image/back5.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
}

/*div nằm trong article để dùng background-img */
.inside1{
	width: auto;
	min-height: 620px;
	background-image: url(../Image/back.jpg);
	background-repeat: repeat;
	padding: 2%;
	margin: 0 auto;
}

/*div nằm trong inside1 để viết text lên*/
.inside2{
	background-color: #FFFFFF; 
	width: auto; 
	min-height: 620px;
	opacity: 0.9; /*mờ để thấy nền dưới*/
	padding: 40px; 
	border-radius: 20px; 
	margin:  0 auto;
	text-align: justify;
}

.container{
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	
}


header{
	width: 100%;
	height: 230px;
	background-color: #FF9596;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 30px;
	background-color: #FBB0B2;
	margin-bottom: 5px;
}

nav a{
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	width: 256px;
	height: 30px;
	text-align: center;
	float: left;
	line-height: 30px;
}

nav a:hover{
	color: #000000;
	background-color: #FC5F62;
}

article {
	width: 70%;
	min-height: 620px;
	background-color: #FFD6D6;
	color: #000000;
	float: left;
	margin-bottom: 5px;
}

article img:hover{
	cursor: crosshair;
}

aside{
	width: 29.5%;
	min-height: 620px;
	float: right;
	background-color: #FFD6D6;
	color: #000000;
	margin-bottom: 5px;
}

aside img {border-radius: 15px;}
aside h2 {
	color: #FFFFFF; 
	background-color: #FBB0B2; 
	height: 40px; 
	margin: 0px; 
	text-align: center; 
	line-height: 40px;}
aside table {padding: 10px;} 
aside a {color: #FC5F62}
aside a:hover {color: #408348}
aside td {padding-left: 10px;}

footer{
	width: 100%;
	height: 230px;
	background-color: #FBB0B2;
	color: #000000;
	clear: both;
}


footer .footer_left{
	width: 50%;
	height: 200px;
	float: left;
	color: #474343;
}

footer .footer_right{
	width: 20%;
	height: 100px;
	float: right;
	margin-top: 40px;
}

ul{
	list-style-type: square;
	padding-top: 5px;
}

ul li{
	font-size: 18px;
	border-bottom: 2px dotted #FC5F62;
}

footer p{
	text-align: center;
	font-style: italic;
	clear: both;
}

/*================================================================*/

h3{
	text-align: center;
	color: #F9474A;
}


/*Tạo img cirle*/
.img_cirle{
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}